@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
.font{
   font-family: 'Odibee Sans', sans-serif !important;
   letter-spacing: 1px;
}
/* .hight{
    height: 85vh !important;
} */
.about-animate{
    animation: about 2s;
}
@keyframes about {
    from{
        translate: 10vw 0;
    }
    to{
        translate: 0 0;
    }
    
}