  @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
  .font{
     font-family: 'Odibee Sans', sans-serif !important;
     letter-spacing: 1px;
     font-size: 2.5rem;
 }
 .navbar-nav .nav-item .active{
  /* background-color: white;  */
  border-radius: 5px;
  text-decoration: underline;

 }