.profile-img img{
    max-height: 350px;

}

.profile-animate{
    animation: prof 2s;
    position: relative;
}
@keyframes prof {
    from{
        translate: -10vw 0;
        opacity: 20%;
    }
    to{
        translate: 0 0;
        opacity: 100%;
    }
    
}
