

.skill-box{
    text-align: center;
    width: 130px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px skyblue;
    transition: all 0.3s ease-in-out;    
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.skill-box:hover{
    transform: scale(1.1);
}

