.skill-box{
    height: 150px;
    width: 180px;
    background-color: #e3f2fd;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 20px skyblue;
}

.skill-box > img{
    height:100px;
    width:100px;
}


